@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  color: #4A3636;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

.inner {
  padding-inline: 20px;
}

@media screen and (min-width: 768px) {
  .hidden-pc {
    display: none;
  }
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  padding: 4px 22px 6px;
  border-radius: 40px;
  border: 2px solid #4A3636;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 0px 0px #4A3636;
          box-shadow: 0px 4px 0px 0px #4A3636;
}

.header {
  height: 64px;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding-inline: 24px;
  }
}

.header__logo a img {
  width: 210px;
}
@media screen and (min-width: 768px) {
  .header__logo a img {
    width: 183px;
  }
}
@media screen and (min-width: 768px) {
  .header__logo {
    z-index: 2;
  }
}

.header__icon {
  display: block;
}
@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}

.drawer-icon img {
  width: 32px;
}

.header__nav {
  padding: 82px 114px;
  font-size: 18px;
  text-align: center;
  position: fixed;
  z-index: 999;
  top: -120%;
  left: 0;
  width: 100%;
  height: 100vh; /*ナビの高さ*/
  background: #FFFFFF;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.header__nav.is-checked {
  top: 64px;
}
@media screen and (min-width: 768px) {
  .header__nav {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4px;
    padding: 0;
    height: 64px;
    z-index: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 24px;
    font-size: 19px;
    font-weight: 400;
  }
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .header__lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 12px;
  }
}

.header__link {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .header__link {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header__link_t {
    display: none;
  }
}

.drawer-content_button {
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .drawer-content_button {
    margin-top: 0;
    font-size: 14px;
  }
}

.fv {
  padding-top: 64px;
  background: url(../img/sp/onomichi_fv_bg_sp.png) no-repeat top center/contain, #E9F6F8;
  background-position: center top 64px;
}
@media screen and (min-width: 768px) {
  .fv {
    background: #E9F6F8;
    overflow: hidden;
  }
  .fv::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/onomichi_fv_bg.png) no-repeat top center/contain;
    border-radius: 0px 0px 40px 40px;
    margin-top: 64px;
  }
}

.fv__message {
  font-family: "Kiwi Maru", serif;
  text-align: center;
  font-size: 14px;
  margin-top: 17px;
  line-height: 1.25;
  color: #4A3636;
  text-shadow: 0px 0px 30px #FFF;
}
@media screen and (min-width: 768px) {
  .fv__message {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-top: 34px;
  }
}

.fv__title {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .fv__title {
    position: relative;
    margin-top: 24px;
    gap: 16px;
  }
}

.fv__title-1 {
  width: 335px;
}
@media screen and (min-width: 768px) {
  .fv__title-1 {
    width: 520px;
  }
}

.fv__title-2 {
  width: 240px;
}
@media screen and (min-width: 768px) {
  .fv__title-2 {
    width: 356px;
  }
}

.fv-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 58px;
}
@media screen and (min-width: 768px) {
  .fv-container {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 260px;
    margin-right: 92px;
  }
}

.fv__fukidashi {
  width: 142px;
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .fv__fukidashi {
    width: 244px;
    margin-top: 0;
  }
}

.fv__present {
  width: 110px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .fv__present {
    width: 180px;
    margin-top: 17px;
  }
}

.fv__image_sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv__img-sp {
  width: 200px;
  position: relative;
  top: -7px;
}
@media screen and (min-width: 768px) {
  .fv__img-sp {
    display: none !important;
  }
}

.fv__img-sp_pc {
  display: none !important;
}
@media screen and (min-width: 768px) {
  .fv__img-sp_pc {
    display: block !important;
    position: relative;
    width: 250px;
    top: -163px;
  }
}

.fv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -130px;
}
@media screen and (min-width: 768px) {
  .fv__content {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 403px;
    margin-top: -505px;
  }
}

.fv__img-food {
  width: 86px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .fv__img-food {
    width: 213px;
    top: 25px;
  }
}

.fv__img-cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fv__img-cat-bk {
  width: 62px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .fv__img-cat-bk {
    width: 170px;
    top: 105px;
    margin-right: 62px;
  }
}

.fv__img-cat-br {
  width: 98px;
  position: relative;
  top: -10px;
  margin-right: 9px;
}
@media screen and (min-width: 768px) {
  .fv__img-cat-br {
    width: 233px;
    top: 41px;
    margin-right: 0;
  }
}