@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  color: #4A3636;
  background: #E9F6F8;
}
@media screen and (min-width:900px) {
  body {
    font-size: 16px;
  }
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

@media screen and (min-width:900px) {
  .hidden-pc {
    display: none;
  }
}

.hidden-sp {
  display: none;
}
@media screen and (min-width:900px) {
  .hidden-sp {
    display: block;
  }
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  padding: 4px 22px 6px;
  border-radius: 40px;
  border: 2px solid #4A3636;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 0px 0px #4A3636;
          box-shadow: 0px 4px 0px 0px #4A3636;
}
@media screen and (min-width:900px) {
  .button {
    padding-top: 8px;
    padding-right: 37px;
    padding-bottom: 10px;
    padding-left: 37px;
    font-size: 20px;
    border-width: 3px;
  }
}

@media screen and (min-width:900px) {
  .button__md-small {
    padding-top: 4px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    font-size: 14px;
    border-width: 2px;
  }
}

.button-small {
  height: 32px;
  padding: 2px 22px 4px 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width:900px) {
  .button-small {
    height: 40px;
    padding-inline: 20px;
    padding-top: 4px;
    padding-bottom: 31.5px;
    font-size: 17px;
  }
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.heading__icon {
  width: 37.333px;
}
@media screen and (min-width:900px) {
  .heading__icon {
    width: 48px;
  }
}

.heading__en {
  font-family: "Courgette", "Josefin Sans", cursive, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width:900px) {
  .heading__en {
    font-size: 20px;
  }
}

.heading__ja {
  font-family: "Kiwi Maru", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  border-bottom: 6px solid #FFEE56;
  display: inline;
  padding-bottom: 6px;
}
@media screen and (min-width:900px) {
  .heading__ja {
    font-size: 32px;
    border-bottom: 8px solid #FFEE56;
    padding-bottom: 8px;
  }
}

.header {
  height: 64px;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__inner {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 20px;
}
@media screen and (min-width:900px) {
  .header__inner {
    padding-inline: 24px;
  }
}

.header__logo a img {
  width: 210px;
}
@media screen and (min-width:900px) {
  .header__logo a img {
    width: 183px;
  }
}
@media screen and (min-width:900px) {
  .header__logo {
    z-index: 2;
  }
}

.header__icon {
  display: block;
}
@media screen and (min-width:1200px) {
  .header__icon {
    display: none;
  }
}

.drawer-icon img {
  width: 32px;
}

.header__nav {
  display: none;
}
@media screen and (min-width:900px) {
  .header__nav {
    font-size: 14px;
  }
}
@media screen and (min-width:1200px) {
  .header__nav {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 4px;
    padding: 0;
    height: 64px;
    z-index: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 19px;
    font-weight: 400;
  }
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media screen and (min-width:1200px) {
  .header__lists {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 11px;
  }
}

.header__link {
  font-size: 14px;
}
@media screen and (min-width:1200px) {
  .header__link {
    font-size: 12px;
  }
}

.drawer-content_button {
  margin-top: 40px;
}
@media screen and (min-width:1200px) {
  .drawer-content_button {
    margin-top: 0;
    padding-left: 16px;
  }
}

.drawer-content {
  padding: 82px 114px;
  font-size: 18px;
  text-align: center;
  position: fixed;
  z-index: 999;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  top: 64px;
  display: none;
  height: calc(100dvh - 64px);
  padding-top: 59px;
  padding-bottom: 60px;
  overflow-y: auto;
}
.drawer-content.is-checked {
  display: block;
}

.fv {
  padding-top: 64px;
}
.fv::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/sp/onomichi_fv_bg_sp.png) no-repeat center center/cover;
  border-radius: 0px 0px 24px 24px;
  max-height: 554px;
  margin-top: 64px;
}
@media screen and (min-width:600px) {
  .fv::before {
    background: url(../img/onomichi_fv_bg.png) no-repeat center bottom/cover;
    max-height: 554px;
    border-radius: 0px 0px 24px 24px;
  }
}
@media screen and (min-width:900px) {
  .fv::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/onomichi_fv_bg.png) no-repeat center bottom/cover;
    border-radius: 0px 0px 40px 40px;
    margin-top: 64px;
    max-height: 740px;
  }
}

.fv__inner {
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:900px) {
  .fv__inner {
    max-width: 848px;
  }
}

.fv__message {
  position: relative;
  font-family: "Kiwi Maru", serif;
  text-align: center;
  font-size: 14px;
  margin-top: 17px;
  line-height: 1.25;
  color: #4A3636;
  text-shadow: 0px 0px 30px #FFF;
}
@media screen and (min-width:900px) {
  .fv__message {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-top: 34px;
  }
}

.fv__title {
  position: relative;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fv__title img {
  width: 100%;
}
@media screen and (min-width:900px) {
  .fv__title img {
    max-width: 520px;
  }
}
@media screen and (min-width:900px) {
  .fv__title {
    margin-top: 24px;
  }
}

.fv-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 58px;
}
@media screen and (min-width:600px) {
  .fv-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width:900px) {
  .fv-container {
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 260px;
    margin-right: 92px;
  }
}

.fv__fukidashi {
  width: 142px;
  margin-top: 17px;
}
@media screen and (min-width:900px) {
  .fv__fukidashi {
    width: 244px;
    margin-top: 0;
  }
}

.fv__present {
  width: 110px;
  margin-top: 10px;
}
@media screen and (min-width:900px) {
  .fv__present {
    width: 180px;
    margin-top: 17px;
  }
}

.fv__image_sp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fv__img-sp {
  width: 200px;
  position: relative;
  top: -7px;
}
@media screen and (min-width:900px) {
  .fv__img-sp {
    display: none !important;
  }
}

.fv__img-sp_pc {
  display: none !important;
}
@media screen and (min-width:900px) {
  .fv__img-sp_pc {
    display: block !important;
    position: relative;
    width: 250px;
    top: -163px;
  }
}

.fv__button {
  position: relative;
  top: -189.5px;
}
@media screen and (min-width:900px) {
  .fv__button {
    top: -391.5px;
  }
}

.fv__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 142px;
  margin-top: -161px;
}
@media screen and (min-width:600px) {
  .fv__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 143px;
  }
}
@media screen and (min-width:900px) {
  .fv__content {
    margin-top: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 403px;
    margin-top: -547px;
  }
}

.fv__img-food {
  width: 86px;
  position: relative;
  top: -3px;
  left: 3px;
}
@media screen and (min-width:900px) {
  .fv__img-food {
    width: 213px;
    top: 25px;
  }
}

.fv__img-cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.fv__img-cat-bk {
  width: 62px;
  position: relative;
  top: 8px;
}
@media screen and (min-width:900px) {
  .fv__img-cat-bk {
    width: 170px;
    top: 105px;
    margin-right: 62px;
  }
}

.fv__img-cat-br {
  width: 98px;
  position: relative;
  top: -6px;
  margin-right: 9px;
}
@media screen and (min-width:900px) {
  .fv__img-cat-br {
    width: 233px;
    top: 41px;
    margin-right: 0;
  }
}

.about {
  position: relative;
  margin-top: 25px;
}
@media screen and (min-width:900px) {
  .about {
    margin-top: 80px;
  }
}

.about__background {
  position: absolute;
}

.about__background-image__footprint {
  width: 54px;
  left: calc(50% + 133px);
  top: -10px;
}
@media screen and (min-width:600px) {
  .about__background-image__footprint {
    left: calc(50% + 205px);
    top: -20px;
  }
}
@media screen and (min-width:900px) {
  .about__background-image__footprint {
    top: -60px;
    left: calc(50% + 300px);
    width: 70px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__footprint {
    top: -80px;
    left: calc(50% + 490px);
    width: 100px;
  }
}

.about__background-image__pattern {
  display: none;
}
@media screen and (min-width:900px) {
  .about__background-image__pattern {
    display: block;
    width: 250px;
    height: 250px;
    right: calc(50% + 280px);
    top: -20px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__pattern {
    right: calc(50% + 527px);
  }
}

.about__background-image__right {
  width: 200px;
  top: 273px;
  left: calc(50% + 127px);
}
@media screen and (min-width:600px) {
  .about__background-image__right {
    left: calc(50% + 180px);
  }
}
@media screen and (min-width:900px) {
  .about__background-image__right {
    top: 73px;
    width: 480px;
    left: calc(50% + 360px);
    border-radius: 40px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__right {
    left: calc(50% + 560px);
  }
}

.about__background-image__left {
  width: 200px;
  top: 395px;
  right: calc(50% + 127px);
}
@media screen and (min-width:600px) {
  .about__background-image__left {
    right: calc(50% + 180px);
  }
}
@media screen and (min-width:900px) {
  .about__background-image__left {
    top: 74px;
    right: calc(50% + 360px);
    width: 480px;
    border-radius: 40px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__left {
    right: calc(50% + 614px);
  }
}

.about__background-image__hill {
  width: 138px;
  bottom: -37px;
}
@media screen and (min-width:600px) {
  .about__background-image__hill {
    width: 200px;
  }
}
@media screen and (min-width:900px) {
  .about__background-image__hill {
    right: calc(50% + 150px);
    bottom: 55px;
    left: auto;
    width: 427px;
    bottom: -76px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__hill {
    right: calc(50% + 432px);
    bottom: -44px;
  }
}

.about__background-image__wave {
  display: none;
}
@media screen and (min-width:900px) {
  .about__background-image__wave {
    display: block;
    bottom: 404px;
    width: 874px;
    left: calc(50% + 200px);
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__wave {
    left: calc(50% + 448px);
    top: 605px;
  }
}

.about__background-image__goods1 {
  width: 48px;
  top: 720px;
  left: calc(50% + 118px);
}
@media screen and (min-width:600px) {
  .about__background-image__goods1 {
    width: 80px;
    left: calc(50% + 280px);
  }
}
@media screen and (min-width:900px) {
  .about__background-image__goods1 {
    top: 601px;
    left: calc(50% + 300px);
    width: 101px;
    height: 101px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__goods1 {
    left: calc(50% + 505px);
  }
}

.about__background-image__goods2 {
  width: 133px;
  top: 763px;
  left: calc(50% - 3px);
}
@media screen and (min-width:600px) {
  .about__background-image__goods2 {
    width: 200px;
    left: calc(50% + 97px);
  }
}
@media screen and (min-width:900px) {
  .about__background-image__goods2 {
    width: 308px;
    left: calc(50% + 120px);
    top: 800px;
  }
}
@media screen and (min-width:1200px) {
  .about__background-image__goods2 {
    left: calc(50% + 374px);
    top: 757px;
  }
}
.about__background-image__goods2 img {
  width: 100%;
}

.about__inner {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:600px) {
  .about__inner {
    max-width: 500px;
  }
}
@media screen and (min-width:900px) {
  .about__inner {
    max-width: 640px;
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width:1200px) {
  .about__inner {
    max-width: 908px;
  }
}

.about__contents {
  background-color: #FFFFFF;
  border-radius: 24px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.about__contents::after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  width: 100px;
  height: 36px;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #CCE1E4;
}
@media screen and (min-width:900px) {
  .about__contents::after {
    width: 140px;
    height: 50px;
  }
}
@media screen and (min-width:900px) {
  .about__contents {
    border-radius: 40px;
  }
}
@media screen and (min-width:1200px) {
  .about__contents {
    max-width: 908px;
  }
}

.about__image-left {
  width: 90px;
  position: absolute;
  right: calc(50% + 45px);
  top: 30px;
}
@media screen and (min-width:900px) {
  .about__image-left {
    width: 146px;
    top: 40px;
    right: calc(50% + 192px);
  }
}

.about__image-right {
  width: 90px;
  position: absolute;
  left: calc(50% + 58px);
  top: 30px;
}
@media screen and (min-width:900px) {
  .about__image-right {
    top: 47px;
    width: 148px;
    left: calc(50% + 192px);
  }
}

.about__lead {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
}
@media screen and (min-width:600px) {
  .about__lead {
    font-size: 16px;
  }
}
@media screen and (min-width:900px) {
  .about__lead {
    margin-top: 32px;
  }
}

.about__text {
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
}
@media screen and (min-width:768px) {
  .about__text {
    margin-top: 32px;
    font-size: 16px;
  }
}
.about__text .about-text:not(.about-text-l) {
  margin-bottom: 1.5em;
}
@media screen and (min-width:900px) {
  .about__text .about-text:not(.about-text-l) {
    margin-bottom: 1.7em;
  }
}
.about__text .about-text-l {
  margin-bottom: 2.6em;
}
@media screen and (min-width:900px) {
  .about__text .about-text-l {
    margin-bottom: 2.8em;
  }
}

.about-text_bold {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px dashed #9ED0E0;
  padding-bottom: 6px;
  display: inline;
}
@media screen and (min-width:900px) {
  .about-text_bold {
    font-size: 20px;
    margin-top: 44px;
    padding-bottom: 11px;
  }
}

.about__button {
  margin-top: 32px;
  text-align: center;
}
@media screen and (min-width:768px) {
  .about__button {
    font-size: 20px;
    margin-top: 45px;
  }
}

.about__bottom {
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width:900px) {
  .about__bottom {
    margin-top: 154px;
  }
}
@media screen and (min-width:1200px) {
  .about__bottom {
    margin-top: 167px;
  }
}

.about__bottom__decorative-text {
  margin-top: 139.67px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 358px;
}
@media screen and (min-width:900px) {
  .about__bottom__decorative-text {
    width: 770px;
  }
}
@media screen and (min-width:1200px) {
  .about__bottom__decorative-text {
    width: 891px;
    left: -3px;
  }
}
.about__bottom__decorative-text img {
  width: 100%;
}

.swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -3px;
}
@media screen and (min-width:900px) {
  .swiper {
    margin-top: -7px;
  }
}

.about-swiper .swiper-wrapper {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-swiper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 100px;
  margin-right: 10px;
}
@media screen and (min-width:900px) {
  .about-swiper .swiper-slide {
    width: 200px;
    margin-right: 20px;
  }
}

.about-swiper .swiper-slide img {
  display: block;
  min-width: 100%;
}

.how-to-entry {
  position: relative;
  margin-top: 64px;
}
@media screen and (min-width:900px) {
  .how-to-entry {
    margin-top: 120px;
  }
}

.how-to-entry__background {
  position: absolute;
}

.how-to-entry__background__map {
  width: 149px;
  right: calc(50% + 39px);
}
@media screen and (min-width:600px) {
  .how-to-entry__background__map {
    width: 180px;
    right: calc(50% + 80px);
  }
}
@media screen and (min-width:900px) {
  .how-to-entry__background__map {
    width: 380px;
    right: calc(50% + 180px);
    top: -60px;
    left: auto;
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__background__map {
    width: 460px;
    right: calc(50% + 260px);
  }
}
.how-to-entry__background__map img {
  width: 100%;
}

.how-to-entry__background__image-cats {
  left: calc(50% + 58px);
}
@media screen and (min-width:900px) {
  .how-to-entry__background__image-cats {
    top: -26px;
    left: calc(50% + 200px);
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__background__image-cats {
    left: calc(50% + 287px);
  }
}

.how-to-entry__background__image-cat1 {
  position: absolute;
  width: 105px;
}
@media screen and (min-width:900px) {
  .how-to-entry__background__image-cat1 {
    width: 238px;
  }
}
.how-to-entry__background__image-cat1 img {
  width: 100%;
}

.how-to-entry__background__image-cat2 {
  position: absolute;
  width: 94px;
  top: 5px;
  left: 66px;
}
@media screen and (min-width:900px) {
  .how-to-entry__background__image-cat2 {
    width: 214px;
    left: 150px;
    top: 8px;
  }
}
.how-to-entry__background__image-cat2 img {
  width: 100%;
}

.how-to-entry__background-image__footprint-1 {
  width: 55px;
  right: 20px;
  top: 74px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
@media screen and (min-width:900px) {
  .how-to-entry__background-image__footprint-1 {
    width: 70px;
    top: 148px;
    right: 0;
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__background-image__footprint-1 {
    width: 100px;
    right: 36px;
  }
}

.how-to-entry__background-image__footprint-2 {
  width: 55px;
  left: 20px;
  top: 549.55px;
}
@media screen and (min-width:900px) {
  .how-to-entry__background-image__footprint-2 {
    width: 70px;
    left: 0;
    bottom: 40px;
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__background-image__footprint-2 {
    width: 100px;
    left: 36px;
  }
}

.how-to-entry__background-image__footprint-3 {
  width: 55px;
  right: 20px;
  top: 879.88px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}
@media screen and (min-width:900px) {
  .how-to-entry__background-image__footprint-3 {
    display: none;
  }
}

.how-to-entry__inner {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:600px) {
  .how-to-entry__inner {
    max-width: 500px;
  }
}
@media screen and (min-width:900px) {
  .how-to-entry__inner {
    max-width: 1512px;
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__inner {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.how-to-entry__steps {
  position: relative;
  margin-top: 31.74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
@media screen and (min-width:900px) {
  .how-to-entry__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 32px;
    margin-top: 40px;
  }
}

.how-to-entry__step {
  text-align: center;
}
@media screen and (min-width:1200px) {
  .how-to-entry__step {
    width: 320px;
  }
}

.step-image {
  width: 196px;
  margin: 0 auto;
}
@media screen and (min-width:900px) {
  .step-image {
    width: 246px;
  }
}
@media screen and (min-width:1200px) {
  .step-image {
    width: 280px;
  }
}

.step__description {
  margin-top: 16px;
}
@media screen and (min-width:1200px) {
  .step__description {
    margin-top: 24px;
  }
}

.step__lead {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width:900px) {
  .step__lead {
    font-size: 20px;
  }
}

.step__text {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (min-width:1200px) {
  .step__text {
    font-size: 16px;
    margin-top: 18px;
  }
}

.link-text {
  text-decoration: underline;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.link-text:hover {
  color: #67B0C7;
}

.text-bold {
  font-weight: 700;
}

.step__follow-button {
  margin-top: 14px;
  background: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  width: 226px;
  height: 38px;
}
@media screen and (min-width:900px) {
  .step__follow-button {
    width: 254px;
    height: 42px;
  }
}

.follow-button {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width:900px) {
  .follow-button {
    line-height: 1.6;
    padding-inline: 0;
  }
}
@media screen and (min-width:1200px) {
  .follow-button {
    font-size: 16px;
  }
}
.follow-button img {
  width: 20px;
  margin-right: 9px;
}
@media screen and (min-width:900px) {
  .follow-button img {
    width: 24px;
  }
}

.how-to-entry__step:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 35px;
  background-image: url("../img/step_line.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px 0;
  right: calc(50% - 5px);
}
@media screen and (min-width:900px) {
  .how-to-entry__step:nth-of-type(1)::after {
    background-image: url("../img/step_line-pc.png");
    width: 70px;
    top: 150px;
    right: calc(50% + 130px);
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__step:nth-of-type(1)::after {
    width: 115px;
    top: 182px;
    right: calc(50% + 143px);
  }
}

.how-to-entry__step:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 34px;
  background-image: url("../img/step_line.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px 0;
  right: calc(50% - 5px);
}
@media screen and (min-width:900px) {
  .how-to-entry__step:nth-of-type(2)::after {
    background-image: url("../img/step_line-pc.png");
    width: 70px;
    top: 150px;
    left: calc(50% + 86px);
  }
}
@media screen and (min-width:1200px) {
  .how-to-entry__step:nth-of-type(2)::after {
    width: 115px;
    top: 182px;
    left: calc(50% + 102px);
  }
}

.how-to-entry__button {
  margin-top: 15px;
  padding-bottom: 4px;
  text-align: center;
}
@media screen and (min-width:900px) {
  .how-to-entry__button {
    margin-top: 33px;
  }
}

.prizes {
  margin-top: 37px;
}
@media screen and (min-width:900px) {
  .prizes {
    margin-top: 120px;
  }
}

.prizes__inner {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:900px) {
  .prizes__inner {
    max-width: 1084px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.prizes__contents {
  padding-top: 20px;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:900px) {
  .prizes__contents {
    max-width: 1084px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 49px;
    padding-left: 30px;
  }
}
@media screen and (min-width:1200px) {
  .prizes__contents {
    padding-right: 56px;
    padding-left: 56px;
  }
}
.prizes__contents::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 238px;
  height: 83px;
  background: url("../img/sp/deco_prizes_sp.png") no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}
@media screen and (min-width:900px) {
  .prizes__contents::before {
    background: url("../img/deco_prizes_pc.png") no-repeat;
    height: 148px;
    width: 372px;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: -1;
  }
}

.prizes__triangle-left {
  position: absolute;
  width: 225px;
  top: 40px;
  left: 0;
}
@media screen and (min-width:1200px) {
  .prizes__triangle-left {
    width: 315px;
  }
}

.prizes__triangle-right {
  position: absolute;
  width: 225px;
  top: 40px;
  right: 0;
}
@media screen and (min-width:1200px) {
  .prizes__triangle-right {
    width: 315px;
  }
}

.background-color {
  position: absolute;
  top: 83px;
  left: 0;
  width: 100%;
  height: calc(100% - 83px);
  background: #FFFFFF;
  border-radius: 24px;
  z-index: -2;
}
@media screen and (min-width:900px) {
  .background-color {
    top: 148px;
    height: calc(100% - 148px);
  }
}

.prizes__text {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}
@media screen and (min-width:900px) {
  .prizes__text {
    font-size: 16px;
    margin-top: 40px;
  }
}

.prizes__cards {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  row-gap: 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width:900px) {
  .prizes__cards {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 60px;
    grid-column-gap: 15px;
    margin-top: 72px;
  }
}
@media screen and (min-width:1200px) {
  .prizes__cards {
    margin-top: 82px;
    grid-row-gap: 80px;
    grid-column-gap: 32px;
  }
}

.prizes__card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  position: relative;
  width: calc(50% - 7.5px);
}
@media screen and (min-width:900px) {
  .prizes__card {
    width: 100%;
  }
}

@media screen and (min-width:900px) {
  .prizes__card:nth-child(1) {
    grid-area: 1/1/2/4;
  }
  .prizes__card:nth-child(2) {
    grid-area: 1/4/2/7;
  }
  .prizes__card:nth-child(3) {
    grid-area: 2/1/3/3;
  }
  .prizes__card:nth-child(4) {
    grid-area: 2/3/3/5;
  }
  .prizes__card:nth-child(5) {
    grid-area: 2/5/3/7;
  }
}
.prizes__card__number {
  width: 48px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  top: -24px;
}
@media screen and (min-width:900px) {
  .prizes__card__number {
    width: 80px;
    top: -40px;
  }
}
@media screen and (min-width:1200px) {
  .prizes__card__number {
    width: 100px;
    height: 100px;
    top: -50px;
  }
}

.prizes__card__contents {
  position: relative;
  border-radius: 8px;
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  overflow: hidden;
}
@media screen and (min-width:900px) {
  .prizes__card__contents {
    border-radius: 24px;
  }
}

@media screen and (min-width:900px) {
  .prizes__card:nth-child(3) .prizes__card__contents,
  .prizes__card:nth-child(4) .prizes__card__contents,
  .prizes__card:nth-child(5) .prizes__card__contents {
    border-radius: 16px;
  }
}

.prizes__card__image {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.prizes__card__image img {
  width: 100%;
  height: auto;
}

.prizes__card__lead {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
}
@media screen and (min-width:600px) {
  .prizes__card__lead {
    font-size: 14px;
  }
}
@media screen and (min-width:900px) {
  .prizes__card__lead {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width:900px) {
  .prizes__card:nth-child(3) .prizes__card__lead,
  .prizes__card:nth-child(4) .prizes__card__lead,
  .prizes__card:nth-child(5) .prizes__card__lead {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.prizes__card__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 14px;
  padding-top: 12px;
}
@media screen and (min-width:900px) {
  .prizes__card__icon {
    width: 80px;
    height: 80px;
    padding-left: 32px;
    padding-top: 30px;
  }
}
.prizes__card__icon::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background-color: #67B0C7;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  z-index: 5;
  border-radius: 0 0 8px 0;
}
@media screen and (min-width:900px) {
  .prizes__card__icon::before {
    width: 80px;
    height: 80px;
  }
}
.prizes__card__icon img {
  width: 11.52px;
  height: 11.52px;
  z-index: 6;
}
@media screen and (min-width:900px) {
  .prizes__card__icon img {
    width: 26px;
    height: 26px;
  }
}

@media screen and (min-width:900px) {
  .prizes__card:nth-child(3) .prizes__card__icon,
  .prizes__card:nth-child(4) .prizes__card__icon,
  .prizes__card:nth-child(5) .prizes__card__icon {
    width: 45px;
    height: 45px;
    padding-left: 16px;
    padding-top: 16px;
  }
  .prizes__card:nth-child(3) .prizes__card__icon::before,
  .prizes__card:nth-child(4) .prizes__card__icon::before,
  .prizes__card:nth-child(5) .prizes__card__icon::before {
    width: 45px;
    height: 45px;
  }
  .prizes__card:nth-child(3) .prizes__card__icon img,
  .prizes__card:nth-child(4) .prizes__card__icon img,
  .prizes__card:nth-child(5) .prizes__card__icon img {
    width: 14.5px;
    height: 14.5px;
  }
}

.prizes__button {
  margin-top: 18px;
  text-align: center;
}
@media screen and (min-width:900px) {
  .prizes__button {
    margin-top: 40px;
  }
}

.prizes__background__pic {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-top: -43px;
  z-index: -3;
  overflow: hidden;
}
@media screen and (min-width:900px) {
  .prizes__background__pic {
    margin-top: 0;
  }
}
.prizes__background__pic img {
  min-width: 580px;
}
@media screen and (min-width:900px) {
  .prizes__background__pic img {
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 600px;
    -o-object-position: center bottom;
       object-position: center bottom;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* モーダルが表示された時 */
.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: relative;
  background: #fff;
  text-align: center;
  padding-bottom: 56px;
  border-radius: 24px;
  width: 336px;
  max-width: 600px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width:900px) {
  .modal-content {
    width: 480px;
    height: 650px;
    padding-bottom: 23px;
  }
}

.modal-close__button {
  padding-bottom: 4px;
  margin-top: 16px;
  height: 40px;
}
@media screen and (min-width:900px) {
  .modal-close__button {
    margin-top: 24px;
  }
}

#modal-image {
  width: 100%;
  height: 210px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media screen and (min-width:900px) {
  #modal-image {
    height: 300px;
  }
}

#modal-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 39px;
}
@media screen and (min-width:900px) {
  #modal-title {
    font-size: 20px;
  }
}

#modal-description {
  line-height: 1.6;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width:900px) {
  #modal-description {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.spots {
  position: relative;
  margin-top: 215px;
  padding-bottom: 45px;
}
@media screen and (min-width:900px) {
  .spots {
    padding-bottom: 120px;
    padding-top: 168px;
  }
}
.spots::before {
  content: "";
  display: block;
  position: absolute;
  top: -45px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../img/sp/spots_bg_wave_1-sp.png);
  background-repeat: repeat-x;
  background-size: 96px auto;
  background-position: top left;
  z-index: -1;
}
@media screen and (min-width:900px) {
  .spots::before {
    background-image: url(../img/spots_bg_wave_1-pc.png);
    width: 100%;
    height: 120px;
    background-size: 252px auto;
    top: 270px;
  }
}
.spots::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: url(../img/sp/spots_bg_wave_2-sp.png);
  background-repeat: repeat-x;
  background-size: 96px auto;
  background-position: bottom left;
  z-index: -1;
}
@media screen and (min-width:900px) {
  .spots::after {
    background-image: url(../img/spots_bg_wave_2-pc.png);
    width: 100%;
    height: 120px;
    background-size: 252px auto;
  }
}

.spots__background-image__footprint {
  position: relative;
  width: 100px;
  top: 760px;
  z-index: 2;
}
@media screen and (min-width:1200px) {
  .spots__background-image__footprint {
    left: 36px;
    top: 730px;
  }
}

.spots__contents {
  background: #67B0C7;
  padding-bottom: 16px;
}

@media screen and (min-width:900px) {
  .spots__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    padding-left: max(30px, 50% - 512px);
  }
}
.spots-heading {
  text-align: center;
}
@media screen and (min-width:900px) {
  .spots-heading {
    margin-top: 25px;
  }
}

.spots__heading {
  color: #FFFFFF;
  font-family: "Kiwi Maru", serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  display: inline-block;
  padding-left: 36px;
}
@media screen and (min-width:900px) {
  .spots__heading {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    padding-left: 0;
    padding-top: 64px;
    font-size: 40px;
    letter-spacing: 10px;
  }
}
.spots__heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 17px;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 28px;
  background-image: url("../img/spots_heading_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
@media screen and (min-width:900px) {
  .spots__heading::before {
    width: 56px;
    height: 56px;
    left: -4px;
  }
}

@media screen and (min-width:1200px) {
  .spots__bottom {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.spots__heading__en {
  width: 255px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:900px) {
  .spots__heading__en {
    width: 360px;
    margin-top: 3px;
  }
}
@media screen and (min-width:1200px) {
  .spots__heading__en {
    width: 495px;
    margin: 0;
  }
}

.spots__text {
  text-align: center;
  margin-top: 16px;
}
@media screen and (min-width:1200px) {
  .spots__text {
    margin-top: 6px;
  }
}

.spots-text {
  font-size: 11.444px;
  font-weight: 400;
  line-height: 1.6;
  color: #FFFFFF;
}
@media screen and (min-width:600px) {
  .spots-text {
    font-size: 14px;
  }
}
@media screen and (min-width:1200px) {
  .spots-text {
    font-size: 16px;
  }
}

.spots__button {
  margin-top: 24px;
}
@media screen and (min-width:1200px) {
  .spots__button {
    margin-left: 11px;
  }
}

.spots__slider {
  margin-top: 24px;
}

.swiper-spots {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  width: calc(100% - 132px);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  padding-bottom: 30px;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 8px;
}
@media screen and (min-width:600px) {
  .swiper-slide {
    width: 50%;
  }
}
@media screen and (min-width:900px) {
  .swiper-slide {
    width: calc(100% - 450px);
    border-radius: 24px;
    padding-bottom: 40px;
    max-width: 448px;
    margin: 0 16px;
  }
}
@media screen and (min-width:1200px) {
  .swiper-slide {
    width: max(296px, 100% - 842px);
  }
}

.spots__slide-image {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.spots__slide-image img {
  width: 100%;
  height: auto;
}

.spots__slide-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}
@media screen and (min-width:900px) {
  .spots__slide-title {
    margin-top: 24px;
    font-size: 20px;
  }
}

.spots__slide-text {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  margin-inline: 24px;
  text-align: left;
}
@media screen and (min-width:900px) {
  .spots__slide-text {
    margin-top: 24px;
    margin-inline: 32px;
    font-size: 16px;
  }
}

.swiper__button {
  position: relative;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width:1200px) {
  .swiper__button {
    max-width: 944px;
    top: -35px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
  position: absolute;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next {
  background-image: url(../img/slider__button-right.png);
}

.swiper-button-prev {
  background-image: url(../img/slider__button-left.png);
}