@use "sass:map";

$main-color: #9ED0E0;

$sub-color-DBlue: #67B0C7;
$sub-color-BGray: #CCE1E4;
$sub-color-LBlue: #E9F6F8;

$accent-color-Red: #CE2073;
$accent-color-Yellow: #FFEE56;

$mono-color-Blown: #4A3636;
$mono-color-DGray: #CCCCCC;
$mono-color-Gray: #F5F5F5;
$mono-color-White: #FFFFFF;

$text-color-br: #4A3636;
$text-color-wh: #FFFFFF;


$font-family-ja-1: "Noto Sans JP", sans-serif;
$font-family-ja-2: "Kiwi Maru", serif;
$font-family-en-1: "Courgette", cursive;
$font-family-en-2: "Josefin Sans", sans-serif;

$font-size-base-sp: 12px;
$font-size-base-pc: 16px;

$header-height: 64px;

$breakpoints: (
  sm: "screen and (min-width:600px)",
  md: "screen and (min-width:768px)",
  lg: "screen and (min-width:900px)",
  xl: "screen and (min-width:1200px)",
);

@mixin mq($breakpoint: lg) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 共通

body {
  font-family: $font-family-ja-1;
  font-size: $font-size-base-sp;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-br;
  background: $sub-color-LBlue;

  @include mq("lg") {
    font-size: $font-size-base-pc;
  }
}

body.no-scroll {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.inner {
  max-width: 640px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @include mq("lg") {
    max-width: 1084px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.hidden-pc {

  @include mq("lg") {
    display: none;
  }
}

.hidden-sp {
  display: none;

  @include mq("lg") {
    display: block;
  }
}

// ボタン
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  padding: calc(6px - 2px) calc(24px - 2px) calc(8px - 2px);
  border-radius: 40px;
  border: 2px solid $mono-color-Blown;
  background: $mono-color-White;
  box-shadow: 0px 4px 0px 0px $mono-color-Blown;


  @include mq("lg") {
    padding-top: 8px;
    padding-right: 37px;
    padding-bottom: 10px;
    padding-left: 37px;
    font-size: 20px;
    border-width: 3px;
  }
}

.button__md-small {

  @include mq("lg") {
    padding-top: 4px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    font-size: 14px;
    border-width: 2px;
  }
  
}

.button-small {
  height: 32px;
  padding: calc(6px - 4px) calc(24px - 2px) calc(8px - 4px) calc(24px - 2px);
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;

  @include mq("lg") {
    height: 40px;
    padding-inline: 20px;
    padding-top: 4px;
    padding-bottom: 31.5px;
    font-size: 17px;
  }
}



// heading

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 7px;
}

.heading__icon {
  width: 37.333px;

  @include mq("lg") {
    width: 48px;
  }
}

.heading__en {
  font-family: $font-family-en-1;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;

  @include mq("lg") {
    font-size: 20px;
  }
}

.heading__ja {
  font-family: $font-family-ja-2;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25;
  border-bottom: 6px solid $accent-color-Yellow;
  display: inline;
  padding-bottom: 6px;

  @include mq("lg") {
    font-size: 32px;
    border-bottom: 8px solid $accent-color-Yellow;
    padding-bottom: 8px;
  }
}




//ヘッダー

.header {
  height: $header-height;
  background: $mono-color-White;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;

  @include mq("lg") {
    padding-inline: 24px;
  }
}

.header__logo {
  a {
    img {
      width: 210px;

      @include mq("lg") {
        width: 183px;
      }
    }
  }

  @include mq("lg") {
    z-index: 2;
  }
}

.header__icon {
  display: block;

  @include mq("xl") {
    display: none;
  }
}

.drawer-icon {
  img {
    width: 32px;
  }
}

.header__nav {
  display: none;

  @include mq("lg") {
    font-size: 14px;
  }

  @include mq("xl") {
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 0;
    height: $header-height;
    z-index: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
  }
}

.header__lists {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq("xl") {
    flex-direction: row;
    gap: 11px;
  }
}

.header__list {

}

.header__link {
  font-size: 14px;

  @include mq("xl") {
    font-size: 12px;
  }
}

.drawer-content_button {
  margin-top: 40px;


  @include mq("xl") {
    margin-top: 0;
    padding-left: 16px;
  }
}

.drawer-content {
  padding:  82px 114px;
  font-size: 18px;
  text-align: center;
  position:fixed;
  z-index: 999;
  left:0;
  width:100%;
  background: $mono-color-White;
  top: $header-height;
  display: none;
  height: calc(100dvh - 64px);
  padding-top: 59px;
  padding-bottom: 60px;
  overflow-y: auto;

  &.is-checked {
    display: block;
  }

}

// ファーストビュー

.fv {
  padding-top: $header-height;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/sp/onomichi_fv_bg_sp.png) no-repeat center center / cover;
    border-radius: 0px 0px 24px 24px;
    max-height: 554px;
    margin-top: $header-height;
  }

  @include mq("sm") {

    &::before {
      background: url(../img/onomichi_fv_bg.png) no-repeat center bottom / cover;
      max-height: 554px;
      border-radius: 0px 0px 24px 24px;
    }
  }

  @include mq("lg") {

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../img/onomichi_fv_bg.png) no-repeat center bottom / cover;
      border-radius: 0px 0px 40px 40px;
      margin-top: $header-height;
      max-height: 740px;
    }
  }
}

.fv__inner {
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;

  @include mq("lg") {
    max-width: 848px;
  }
}

.fv__message {
  position: relative;
  font-family: $font-family-ja-2;
  text-align: center;
  font-size: 14px;
  margin-top: 17px;
  line-height: 1.25;
  color: $mono-color-Blown;
  text-shadow: 0px 0px 30px #FFF;

  @include mq("lg") {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-top: 34px;
  }
}

.fv__title {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  img {
    width: 100%;

    @include mq("lg") {
      max-width: 520px;
    }
  }

  @include mq("lg") {
    margin-top: 24px;
  }
}



.fv-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 58px;

  @include mq("sm") {
    justify-content: center;
  }

  @include mq("lg") {
    position: relative;
    justify-content: center;
    gap: 260px;
    margin-right: 92px;
  }
}

.fv__fukidashi {
  width: 142px;
  margin-top: 17px;

  @include mq("lg") {
    width: 244px;
    margin-top: 0;
  }
}

.fv__present {
  width: 110px;
  margin-top: 10px;

  @include mq("lg") {
    width: 180px;
    margin-top: 17px;
  }
}

.fv__image_sp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fv__img-sp {
  width: 200px;
  position: relative;
  top: -7px;

  @include mq("lg") {
    display: none !important;
  }
}

.fv__img-sp_pc {
  display: none !important;

  @include mq("lg") {
    display: block !important;
    position: relative;
    width: 250px;
    top: -163px;
  }
}

.fv__button {
  position: relative;
  top: -189.5px;

  @include mq("lg") {
    top: -391.5px;
  }
}

.fv__content {
  display: flex;
  flex-direction: row;
  gap: 142px;
  margin-top: -161px;

  @include mq("sm") {
    justify-content: center;
    gap: 143px;
  }

  @include mq("lg") {
    margin-top: 0;
    justify-content: center;
    gap: 403px;
    margin-top: -547px;
  }
}


.fv__img-food {
  width: 86px;
  position: relative;
  top: -3px;
  left: 3px;

  @include mq("lg") {
    width: 213px;
    top: 25px;
  }
}

.fv__img-cats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fv__img-cat-bk {
  width: 62px;
  position: relative;
  top: 8px;

  @include mq("lg") {
    width: 170px;
    top: 105px;
    margin-right: 62px;
  }
}

.fv__img-cat-br {
  width: 98px;
  position: relative;
  top: -6px;
  margin-right: 9px;

  @include mq("lg") {
    width: 233px;
    top: 41px;
    margin-right: 0;
  }
}

// about

.about {
  position: relative;
  margin-top: 25px;

  @include mq("lg") {
    margin-top: 80px;
  }
}

.about__background {
  position: absolute;
}

.about__background-image__footprint {
  width: 54px;
  left: calc(50% + 133px);
  top: -10px;

  @include mq("sm") {
    left: calc(50% + 205px);
    top: -20px;
  }

  @include mq("lg") {
    top: -60px;
    left: calc(50% + 300px);
    width: 70px;
  }

  @include mq("xl") {
    top: -80px;
    left: calc(50% + 490px);
    width: 100px;
  }
}

.about__background-image__pattern {
  display: none;

  @include mq("lg") {
    display: block;
    width: 250px;
    height: 250px;
    right: calc(50% + 280px);
    top: -20px;
  }

  @include mq("xl") {
    right: calc(50% + 527px);
  }
}

.about__background-image__right {
  width: 200px;
  top: 273px;
  left: calc(50% + 127px);

  @include mq("sm") {
    left: calc(50% + 180px);
  }

  @include mq("lg") {
    top: 73px;
    width: 480px;
    left: calc(50% + 360px);
    border-radius: 40px;
  }

  @include mq("xl") {
    left: calc(50% + 560px);
  }
}

.about__background-image__left {
  width: 200px;
  top: 395px;
  right: calc(50% + 127px);

  @include mq("sm") {
    right: calc(50% + 180px);
  }

  @include mq("lg") {
    top:74px;
    right: calc(50% + 360px);
    width: 480px;
    border-radius: 40px;
  }

  @include mq("xl") {
    right: calc(50% + 614px);
  }
}

.about__background-image__hill {
  width: 138px;
  bottom: -37px;

  @include mq("sm") {
    width: 200px;
  }

  @include mq("lg") {
    right: calc(50% + 150px);
    bottom: 55px;
    left: auto;
    width: 427px;
    bottom: -76px;
  }

  @include mq("xl") {
    right: calc(50% + 432px);
    bottom: -44px;
  }
}

.about__background-image__wave {
  display: none;

  @include mq("lg") {
    display: block;
    bottom: 404px;
    width: 874px;
    left: calc(50% + 200px);
  }

  @include mq("xl") {
    left: calc(50% + 448px);
    top: 605px;
  }
}

.about__background-image__goods1 {
  width: 48px;
  top: 720px;
  left: calc(50% + 118px);

  @include mq("sm") {
    width: 80px;
    left: calc(50% + 280px);
  }

  @include mq("lg") {
    top: 601px;
    left: calc(50% + 300px);
    width: 101px;
    height: 101px;
  }

  @include mq("xl") {
    left: calc(50% + 505px);
  }
}

.about__background-image__goods2 {
  width: 133px;
  top: 763px;
  left: calc(50% + -3px);

  @include mq("sm") {
    width: 200px;
    left: calc(50% + 97px);
  }

  @include mq("lg") {
    width: 308px;
    left: calc(50% + 120px);
    top: 800px;
  }

  @include mq("xl") {
    left: calc(50% + 374px);
    top: 757px;
  }

  img {
    width: 100%;
  }
}

.about__inner {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq("sm") {
    max-width: 500px;
    
  }

  @include mq("lg") {
    max-width: 640px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @include mq("xl") {
    max-width: 908px;
  }
}

.about__contents {
  background-color: $mono-color-White;
  border-radius: 24px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: '';
    position: absolute;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
    width: 100px;
    height: 36px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: $sub-color-BGray;

    @include mq("lg") {
      width: 140px;
      height: 50px;
    }

  }

  @include mq("sm") {
    
  }

  @include mq("lg") {
    border-radius: 40px;
  }

  @include mq("xl") {
    max-width: 908px;
  }
}

.about__image-left {
  width: 90px;
  position: absolute;
  right: calc(50% + 45px);
  top: 30px;

  @include mq("lg") {
    width: 146px;
    top: 40px;
    right: calc(50% + 192px);
  }
}

.about__image-right {
  width: 90px;
  position: absolute;
  left:  calc(50% + 58px);
  top: 30px;

  @include mq("lg") {
    top: 47px;
    width: 148px;
    left:  calc(50% + 192px);
  }
}

.about__lead {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;

  @include mq("sm") {
    font-size: 16px;
  }

  @include mq("lg") {
    margin-top: 32px;
  }
}

.about__text {
  font-weight: 400;
  text-align: center;
  margin-top: 24px;

  @include mq("md") {
    margin-top: 32px;
    font-size: 16px;
  }

  .about-text:not(.about-text-l) {
    margin-bottom: 1.5em;

    @include mq("lg") {
      margin-bottom: 1.7em;

    }
  }

  .about-text-l {
    margin-bottom: 2.6em;

    @include mq("lg") {
      margin-bottom: 2.8em;
    }
  }
}

.about-text {

}

.about-text-l {

}

.about-text_bold {
  font-size: 14px;
  font-weight: 700;
  border-bottom: 2px dashed $main-color;
  padding-bottom: 6px;
  display: inline;

  @include mq("lg") {
    font-size: 20px;
    margin-top: 44px;
    padding-bottom: 11px;
  }
}

.about__button {
  margin-top: 32px;
  text-align: center;

  @include mq("md") {
    font-size: 20px;
    margin-top: 45px;
  }

}

.button {

}

.about__bottom {
  margin-left: -12px;
  margin-right: -12px;
  justify-content: center;

  @include mq("lg") {
    margin-top: 154px;
  }

  @include mq("xl") {
    margin-top: 167px;
  }
}

.about__bottom__decorative-text {
  margin-top: 139.67px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 358px;

  @include mq("lg") {
    width: 770px;
  }

  @include mq("xl") {
    width: 891px;
    left: -3px;
  }

  img {
    width: 100%;
  }
}

// スワイパー

.swiper{
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: -3px;

  @include mq("lg") {
    margin-top: -7px;
  }
}

.about-swiper .swiper-wrapper{
  transition-timing-function: linear;
  display: flex;
}

.about-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100px;
  margin-right: 10px;

  @include mq("lg") {
    width: 200px;
    margin-right: 20px;
  }
}

.about-swiper .swiper-slide img{
  display: block;
  min-width: 100%;
}

// how-to-entry

.how-to-entry {
  position: relative;
  margin-top: 64px;

  @include mq("lg") {
    margin-top: 120px;
  }
}

.how-to-entry__background {
  position: absolute;
}

.how-to-entry__background__map {
  width: 149px;
  right: calc(50% + 39px);

  @include mq("sm") {
    width: 180px;
    right: calc(50% + 80px);
  }

  @include mq("lg") {
    width: 380px;
    right: calc(50% + 180px);
    top: -60px;
    left: auto;
  }

  @include mq("xl") {
    width: 460px;
    right: calc(50% + 260px);
  }

  img {
    width: 100%;
  }
}

.how-to-entry__background__image-cats {
  left: calc(50% + 58px);

  @include mq("lg") {
    top: -26px;
    left: calc(50% + 200px);

  }

  @include mq("xl") {
    left: calc(50% + 287px);
  }
}

.how-to-entry__background__image-cat1 {
  position: absolute;
  width: 105px;

  @include mq("lg") {
    width: 238px;
  }

  img {
    width: 100%;
  }
}

.how-to-entry__background__image-cat2 {
  position: absolute;
  width: 94px;
  top: 5px;
  left: 66px;

  @include mq("lg") {
    width: 214px;
    left: 150px;
    top: 8px;
  }


  img {
    width: 100%;
  }
}

.how-to-entry__background-image__footprint-1 {
  width: 55px;
  right: 20px;
  top: 74px;
  transform: scaleX(-1);

  @include mq("lg") {
    width: 70px;
    top: 148px;
    right: 0;
  }

  @include mq("xl") {
    width: 100px;
    right: 36px;
  }
}

.how-to-entry__background-image__footprint-2 {
  width: 55px;
  left: 20px;
  top: 549.55px;

  @include mq("lg") {
    width: 70px;
    left: 0;
    bottom: 40px;
  }

  @include mq("xl") {
    width: 100px;
    left: 36px;
  }
}

.how-to-entry__background-image__footprint-3 {
  width: 55px;
  right: 20px;
  top: 879.88px;
  transform: scaleX(-1);

  @include mq("lg") {
    display: none;
  }
}

.how-to-entry__inner {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include mq("sm") {
    max-width: 500px;
  }

  @include mq("lg") {
    max-width: 1512px;
  }

  @include mq("xl") {
    padding-left: 30px;
    padding-right: 30px;
  }
}


.how-to-entry__steps {
  position: relative;
  margin-top: 31.74px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  @include mq("lg") {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
  }

}

.how-to-entry__step {
  text-align: center;

  @include mq("xl") {
    width: 320px;
  }
}

.how-to-entry__step:nth-of-type(2) {
  @include mq("lg") {
    margin-top: 69px;
  }
}

.step-image {
  width: 196px;
  margin: 0 auto;

  @include mq("lg") {
    width: 246px;
  }

  @include mq("xl") {
    width: 280px;
  }
}

.step__description {
  margin-top: 16px;

  @include mq("xl") {
    margin-top: 24px;
  }
}

.step__lead {
  font-size: 16px;
  font-weight: 700;

  @include mq("lg") {
    font-size: 20px;
  }

}

.step__text {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;

  @include mq("xl") {
    font-size: 16px;
    margin-top: 18px;
  }
}

.link-text {
  text-decoration: underline;
  transition: color 0.2s;

  &:hover {
    color: $sub-color-DBlue;
  }
}

.text-bold {
  font-weight: 700;
}

.step__follow-button {
  margin-top: 14px;
  background: $mono-color-White;
  margin-right: auto;
  margin-left: auto;
  width: 226px;
  height: 38px;

  @include mq("lg") {
    width: 254px;
    height: 42px;
  }
  
}

.follow-button {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 12px;
  display: inline-flex;
  align-items: center;

  @include mq("lg") {
    line-height: 1.6;
    padding-inline: 0;
  }

  @include mq("xl") {
    font-size: 16px;
  }
  
  img {
    width: 20px;
    margin-right: 9px;

    @include mq("lg") {
      width: 24px;
    }
  }
}

.how-to-entry__step:nth-of-type(1)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 35px;
  background-image: url('../img/step_line.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px 0;
  right: calc(50% + -5px);

  @include mq("lg") {
    background-image: url('../img/step_line-pc.png');
    width: 70px;
    top: 150px;
    right: calc(50% + 130px);
  }

  @include mq("xl") {
    width: 115px;
    top: 182px;
    right: calc(50% + 143px);
  }
}

.how-to-entry__step:nth-of-type(2)::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 34px;
  background-image: url('../img/step_line.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 15px 0;
  right: calc(50% + -5px);

  @include mq("lg") {
    background-image: url('../img/step_line-pc.png');
    width: 70px;
    top: 150px;
    left: calc(50% + 86px);
  }

  @include mq("xl") {
    width: 115px;
    top: 182px;
    left: calc(50% + 102px);
  }
}

.how-to-entry__button {
  margin-top: 15px;
  padding-bottom: 4px;
  text-align: center;

  @include mq("lg") {
    margin-top: 33px;
  }

  @include mq("xl") {
    margin-top: 47px;
  }
}

// prizes

.prizes {
  margin-top: 37px;

  @include mq("lg") {
    margin-top: 120px;
  }

}

.prizes__inner {
  margin-right: auto;
  margin-left: auto;

  @include mq("lg") {
    max-width: 1084px;
    padding-right: 30px;
    padding-left: 30px;
  }

}

.prizes__contents {
  padding-top: 20px;
  position: relative;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;

  @include mq("lg") {
    max-width: 1084px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 49px;
    padding-left: 30px;
  }

  @include mq("xl") {
    padding-right: 56px;
    padding-left: 56px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 238px;
    height: 83px;
    background: url('../img/sp/deco_prizes_sp.png') no-repeat;
    background-size: cover;
    background-position: center center;
    transform: translateX(-50%);
    z-index: -1;

    @include mq("lg") {
      background: url('../img/deco_prizes_pc.png') no-repeat;
      height: 148px;
      width: 372px;
      background-size: cover;
      background-position: center center;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}

.prizes__triangle-left {
  position: absolute;
  width: 225px;
  top: 40px;
  left: 0;

  @include mq("xl") {
    width: 315px;
  }
}

.prizes__triangle-right {
  position: absolute;
  width: 225px;
  top: 40px;
  right: 0;

  @include mq("xl") {
    width: 315px;
  }
}

.background-color {
  position: absolute;
  top: 83px;
  left: 0;
  width: 100%;
  height: calc(100% - 83px);
  background: $mono-color-White;
  border-radius: 24px;
  z-index: -2;

  @include mq("lg") {
    top: 148px;
    height: calc(100% - 148px);
  }
}


.prizes__text {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;

  @include mq("lg") {
    font-size: 16px;
    margin-top: 40px;
  }
}

.prizes__cards {
  margin-top: 46px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 39px;
  justify-content: center;

  @include mq("lg") {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 60px;
    grid-column-gap: 15px;
    margin-top: 72px;
  }

  @include mq("xl") {
    margin-top: 82px;
    grid-row-gap: 80px;
    grid-column-gap: 32px;
  }
}

.prizes__card {
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: calc(50% - 7.5px);

  @include mq("lg") {
    width: 100%;
  }
}

@include mq("lg") {
  .prizes__card:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
  }

  .prizes__card:nth-child(2) {
    grid-area: 1 / 4 / 2 / 7;
  }

  .prizes__card:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
  }

  .prizes__card:nth-child(4) {
    grid-area: 2 / 3 / 3 / 5;
  }

  .prizes__card:nth-child(5) {
    grid-area: 2 / 5 / 3 / 7;
  }
}


.prizes__card__number {
  width: 48px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  top: -24px;

  @include mq("lg") {
    width: 80px;
    top: -40px;
  }

  @include mq("xl") {
    width: 100px;
    height: 100px;
    top: -50px;
  }
}

.prizes__card__contents {
  position: relative;
  border-radius: 8px;
  background-color: $mono-color-Gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;

  @include mq("lg") {
    border-radius: 24px;
  }
}

.prizes__card:nth-child(3) .prizes__card__contents,
.prizes__card:nth-child(4) .prizes__card__contents,
.prizes__card:nth-child(5) .prizes__card__contents {
  @include mq("lg") {
    border-radius: 16px;
  }
}

.prizes__card__image {
  width: 100%;
  height: auto;
  object-fit: cover;

  img {
    width: 100%;
    height: auto;
  }
}

.prizes__card__lead {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6;
  height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;

  @include mq("sm") {
    font-size: 14px;
  }

  @include mq("lg") {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.prizes__card:nth-child(3) .prizes__card__lead,
.prizes__card:nth-child(4) .prizes__card__lead,
.prizes__card:nth-child(5) .prizes__card__lead {
  @include mq("lg") {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.prizes__card__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 14px;
  padding-top: 12px;

  @include mq("lg") {
    width: 80px;
    height: 80px;
    padding-left: 32px;
    padding-top: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 36px;
    height: 36px;
    background-color: $sub-color-DBlue;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 5;
    border-radius: 0 0 8px 0;

    @include mq("lg") {
      width: 80px;
      height: 80px;
    }
  }

  img {
    width: 11.52px;
    height: 11.52px;
    z-index: 6;

    @include mq("lg") {
      width: 26px;
      height: 26px;
    }
  }
}

.prizes__card:nth-child(3) .prizes__card__icon,
.prizes__card:nth-child(4) .prizes__card__icon,
.prizes__card:nth-child(5) .prizes__card__icon {
  @include mq("lg") {
    width: 45px;
    height: 45px;
    padding-left: 16px;
    padding-top: 16px;

    &::before {
      width: 45px;
      height: 45px;
    }

    img {
      width: 14.5px;
      height: 14.5px;
    }
  }
}

.prizes__button {
  margin-top: 18px;
  text-align: center;

  @include mq("lg") {
    margin-top: 40px;
  }
}

.prizes__background__pic {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  margin-top: -43px;
  z-index: -3;
  overflow: hidden;

  @include mq("lg") {
    margin-top: 0;
  }

  img {
    min-width: 580px;

    @include mq("lg") {
      object-fit: cover;
      min-height: 600px;
      object-position: center bottom;
    }

  }

}


// モーダル

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* モーダルが表示された時 */
.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  position: relative;
  background: #fff;
  text-align: center;
  padding-bottom: 56px;
  border-radius: 24px;
  width: 336px;
  max-width: 600px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  @include mq("lg") {
    width: 480px;
    height: 650px;
    padding-bottom: 23px;
  }
}

.modal-close__button {
  padding-bottom: 4px;
  margin-top: 16px;
  height: 40px;

  @include mq("lg") {
    margin-top: 24px;
  }
}

#modal-image {
  width: 100%;
  height: 210px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  @include mq("lg") {
    height: 300px;
  }
}

#modal-title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 39px;

  @include mq("lg") {
    font-size: 20px;
  }
}

#modal-description {
  line-height: 1.6;
  font-size: 12px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;

  @include mq("lg") {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
  }
}


// spots

.spots {
  position: relative;
  margin-top: 215px;
  padding-bottom: 45px;

  @include mq("lg") {
    padding-bottom: 115px;
    padding-top: 168px;

  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../img/sp/spots_bg_wave_1-sp.png);
    background-repeat: repeat-x;
    background-size: 96px auto;
    background-position: top left;
    z-index: -1;

    @include mq("lg") {
      background-image: url(../img/spots_bg_wave_1-pc.png);
      width: 100%;
      height: 120px;
      background-size: 252px auto;
      top: 270px;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url(../img/sp/spots_bg_wave_2-sp.png);
    background-repeat: repeat-x;
    background-size: 96px auto;
    background-position: bottom left;
    z-index: -1;

    @include mq("lg") {
      background-image: url(../img/spots_bg_wave_2-pc.png);
      width: 100%;
      height: 120px;
      background-size: 252px auto;
    }
  }

}

.spots__inner {

}

.spots__background-image__footprint {
  position: relative;
  width: 100px;
  top: 760px;
  z-index: 2;

  @include mq("xl") {
    left: 36px;
    top: 730px;
  }
}

.spots__contents {
  background: $sub-color-DBlue;
  padding-bottom: 16px;
}

.spots__wrap {
  @include mq("lg") {
    display: flex;
    gap: 32px;
    padding-left: max(30px, 50% - 512px);
    padding-top: 24px;
  }

  @include mq("xl") {
    // padding-left: calc(30px + (100% - 1084px) / 2);
  }
}

.spots-heading {
  text-align: center;
  
  @include mq("lg") {
    margin-top: 25px;
  }
}

.spots__heading {
  color: $text-color-wh;
  font-family: $font-family-ja-2;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.25;
  position: relative;
  display: inline-block;
  padding-left: 36px;

  @include mq("lg") {
    writing-mode: vertical-rl;
    padding-left: 0;
    padding-top: 64px;
    font-size: 40px;
    letter-spacing: 10px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    left: 0px;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    background-image: url('../img/spots_heading_icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include mq("lg") {
      width: 56px;
      height: 56px;
      left: -4px;
    }

  }
}

.spots__bottom {
  @include mq("xl") {
    margin-top: 60px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
  }
}

.spots__heading__en {
  width: 255px;
  margin-right: auto;
  margin-left: auto;

  @include mq("lg") {
    width: 360px;
    margin-top: 3px;
  }

  @include mq("xl") {
    width: 495px;
    margin: 0;
  }
}

.spots__bottom__right {

}

.spots__text {
  text-align: center;
  margin-top: 16px;

  @include mq("xl") {
    margin-top: 6px;
  }
}

.spots-text {
  font-size: 11.444px;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-wh;

  @include mq("sm") {
    font-size: 14px;
  }

  @include mq("xl") {
    font-size: 16px;
  }
}

.spots__button {
  margin-top: 24px;

  @include mq("xl") {
    margin-left: 11px;
  }
}

// spotsのスライダー

.spots__slider {
  margin-top: 24px;
}

.swiper-spots {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: calc(100% - 132px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background: $mono-color-White;
  padding-bottom: 30px;
  position: relative;
  justify-content: flex-start;
  border-radius: 12px;
  overflow: hidden;
  margin: 0 8px;

  @include mq("sm") {
    width: calc(50%);
  }

  @include mq("lg") {
    width: calc(100% - 450px);
    border-radius: 24px;
    padding-bottom: 40px;
    max-width: 448px;
    margin: 0 16px;
  }

  @include mq("xl") {
    width: max(296px, calc(100% - 842px));
  }
}

.spots__slide-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }
}

.spots__slide-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;

  @include mq("lg") {
    margin-top: 24px;
    font-size: 20px;
  }
}

.spots__slide-text {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.6;
  margin-inline: 24px;
  text-align: left;

  @include mq("lg") {
    margin-top: 24px;
    margin-inline: 32px;
    font-size: 16px;
  }
}

.swiper__button {
  position: relative;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;

  @include mq("xl") {
    max-width: 944px;
    top: -35px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  z-index: 10;
  position: absolute;

  &::after {
    content: "";
  }
}

.swiper-button-next {
  background-image: url(../img/slider__button-right.png);
}

.swiper-button-prev {
  background-image: url(../img/slider__button-left.png);
}


// Q&A

.qa {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  @include mq("lg") {
    margin-top: 120px;
  }

}

.qa__inner {
}


.qa_boxes {
  margin-top: 23px;
  display: flex;
  flex-direction: column;
  gap: 11px;

  @include mq("lg") {
    margin-top: 40px;
    gap: 24px;
  }

}

.qa_box {
  border-radius: 12px;
  border: 2px solid $mono-color-Blown;
  background: $mono-color-White;
  overflow: hidden;

  @include mq("lg") {
    border-radius: 16px;
  }

  &.is-open {
    .qa-box_head {
      &::after {
        transform: rotate(0deg);
      }
    }

    .qa-box_head-btn {
      &::after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }
    }

    .qa-box_body{
      display: block;
    }
  }
}

.qa-box {
  
}

.is-open {

}

.qa-box_head {
  padding: calc(12px - 2px) calc(16px - 2px) calc(12px - 2px) 15px;
  position: relative;
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;

  @include mq("lg") {
    padding: calc(24px - 2px) calc(24px - 2px) calc(24px - 2px) 24px;
    gap: 16px;
  }
}

.js-accordion {

}

.qa-box_head-icon {
  color: $main-color;
  font-family: $font-family-en-2;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  
  @include mq("lg") {
    font-size: 32px;
  }
}

.qa-box_head-text {
  color: $text-color-br;
  font-family: "Noto Sans JP";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.6;
  text-align: left;
  flex-grow: 1;

  @include mq("lg") {
    font-size: 20px;
  }
}

.qa-box_head-btn {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: $main-color;
  border-radius: 50%;

  @include mq("lg") {
    width: 32px;
    height: 32px;
  }

  @include mq("xl") {
    width: 44px;
    height: 44px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 1.5px;
    border-radius: 50px;
    background: $mono-color-White;
    display: block;

    @include mq("lg") {
      width: 18.6px;
      height: 2.6px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.5px;
    height: 10px;
    border-radius: 50px;
    background: $mono-color-White;
    display: block;
    transition: 0.2s ease;
    will-change: transform;

    @include mq("lg") {
      width: 2.6px;
      height: 18.6px;
    }
  }
}

.qa-box_body {
  padding: 16px calc(16px - 2px) calc(16px - 2px) calc(16px - 2px);
  display: none;
  background: $mono-color-Gray;
  overflow: hidden;

  @include mq("lg") {
    padding: 24px calc(24px - 2px) calc(24px - 2px) calc(24px - 2px);
  }

}

.qa-box_a {
  display: flex;
  gap: 16px;
  align-items: center;
}

.qa-box_a-icon {
  color: $main-color;
  font-family: $font-family-en-2;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;

  @include mq("lg") {
    font-size: 32px;
  }
}

.qa-box_a-text {
  color: $text-color-br;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;

  @include mq("lg") {
    font-size: 16px;
  }
}





