@use "sass:map";

$main-color: #9ED0E0;

$sub-color-DBlue: #67B0C7;
$sub-color-BGray: #CCE1E4;
$sub-color-LBlue: #E9F6F8;

$accent-color-Red: #CE2073;
$accent-color-Yellow: #FFEE56;

$mono-color-Blown: #4A3636;
$mono-color-DGray: #CCCCCC;
$mono-color-Gray: #F5F5F5;
$mono-color-White: #FFFFFF;

$text-color-br: #4A3636;
$text-color-wh: #FFFFFF;


$font-family-ja-1: "Noto Sans JP", sans-serif;
$font-family-ja-2: "Kiwi Maru", serif;
$font-family-en: "Courgette", "Josefin Sans", cursive, sans-serif;

$font-size-base-sp: 12px;
$font-size-base-pc: 16px;

$header-height: 64px;

$breakpoints: (
  sm: "screen and (min-width:600px)",
  md: "screen and (min-width:768px)",
  lg: "screen and (min-width:900px)",
  xl: "screen and (min-width:1200px)",
);

@mixin mq($breakpoint: lg) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

// 共通

body {
  font-family: $font-family-ja-1;
  font-size: $font-size-base-sp;
  font-weight: 400;
  line-height: 1.6;
  color: $text-color-br;
  background: $sub-color-LBlue;

  @include mq("lg") {
    font-size: $font-size-base-pc;
  }
}

.inner {
}

.hidden-pc {
  @include mq("lg") {
    display: none;
  }
}

// ボタン
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  padding: calc(6px - 2px) calc(24px - 2px) calc(8px - 2px);
  border-radius: 40px;
  border: 2px solid $mono-color-Blown;
  background: $mono-color-White;
  box-shadow: 0px 4px 0px 0px $mono-color-Blown;


  @include mq("lg") {
    font-size: 14px;
  }
}



//ヘッダー

.header {
  height: $header-height;
  background: $mono-color-White;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;

  @include mq("lg") {
    padding-inline: 24px;
  }
}

.header__logo {
  a {
    img {
      width: 210px;

      @include mq("lg") {
        width: 183px;
      }
    }
  }

  @include mq("lg") {
    z-index: 2;
  }
}

.header__icon {
  display: block;

  @include mq("xl") {
    display: none;
  }
}

.drawer-icon {
  img {
    width: 32px;
  }
}

.header__nav {
  display: none;

  @include mq("lg") {
    font-size: 14px;
  }

  @include mq("xl") {
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 0;
    height: $header-height;
    z-index: 0;
    justify-content: flex-end;
    align-items: center;
    font-size: 19px;
    font-weight: 400;
  }
}

.header__lists {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mq("xl") {
    flex-direction: row;
    gap: 12px;
  }
}

.header__list {

}

.header__link {
  font-size: 14px;

  @include mq("xl") {
    font-size: 12px;
  }
}

.drawer-content_button {
  margin-top: 40px;


  @include mq("xl") {
    margin-top: 0;
    padding-left: 16px;
  }
}

.drawer-content {
  padding:  82px 114px;
  font-size: 18px;
  text-align: center;
  position:fixed;
  z-index: 999;
  left:0;
  width:100%;
  background: $mono-color-White;
  top: $header-height;
  display: none;
  height: calc(100dvh - 64px);
  padding-top: 59px;
  padding-bottom: 60px;
  overflow-y: auto;

  &.is-checked {
    display: block;
  }

}

// ファーストビュー

.fv {
  padding-top: $header-height;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/sp/onomichi_fv_bg_sp.png) no-repeat center center / cover;
    border-radius: 0px 0px 24px 24px;
    max-height: 554px;
    margin-top: $header-height;
  }

  @include mq("sm") {
    overflow: hidden;

    &::before {
      height: 100%;
      border-radius: 0px 0px 24px 24px;
    }
  }

  @include mq("lg") {
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url(../img/onomichi_fv_bg.png) no-repeat center bottom / cover;
      border-radius: 0px 0px 40px 40px;
      margin-top: $header-height;
      max-height: 740px;
    }
  }
}

.fv__inner {
  max-width: 335px;
  margin-right: auto;
  margin-left: auto;

  @include mq("lg") {
    max-width: 848px;
  }
}

.fv__message {
  position: relative;
  font-family: $font-family-ja-2;
  text-align: center;
  font-size: 14px;
  margin-top: 17px;
  line-height: 1.25;
  color: $mono-color-Blown;
  text-shadow: 0px 0px 30px #FFF;

  @include mq("lg") {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    margin-top: 34px;
  }
}

.fv__title {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  img {
    width: 100%;

    @include mq("lg") {
      max-width: 520px;
    }
  }

  @include mq("lg") {
    margin-top: 24px;
  }
}



.fv-container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 58px;
  justify-content: center;

  @include mq("sm") {
    justify-content: center;
  }

  @include mq("lg") {
    position: relative;
    justify-content: center;
    gap: 260px;
    margin-right: 92px;
  }
}

.fv__fukidashi {
  width: 142px;
  margin-top: 17px;

  @include mq("lg") {
    width: 244px;
    margin-top: 0;
  }
}

.fv__present {
  width: 110px;
  margin-top: 10px;

  @include mq("lg") {
    width: 180px;
    margin-top: 17px;
  }
}

.fv__image_sp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fv__img-sp {
  width: 200px;
  position: relative;
  top: -7px;

  @include mq("lg") {
    display: none !important;
  }
}

.fv__img-sp_pc {
  display: none !important;

  @include mq("lg") {
    display: block !important;
    position: relative;
    width: 250px;
    top: -163px;
  }
}

.fv__content {
  display: flex;
  flex-direction: row;
  gap: 142px;
  margin-top: -130px;

  @include mq("sm") {
    justify-content: center;
    gap: 143px;
  }

  @include mq("lg") {
    margin-top: 0;
    justify-content: center;
    gap: 403px;
    margin-top: -505px;
  }
}


.fv__img-food {
  width: 86px;
  position: relative;

  @include mq("lg") {
    width: 213px;
    top: 25px;
  }
}

.fv__img-cats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fv__img-cat-bk {
  width: 62px;
  position: relative;

  @include mq("lg") {
    width: 170px;
    top: 105px;
    margin-right: 62px;
  }
}

.fv__img-cat-br {
  width: 98px;
  position: relative;
  top: -10px;
  margin-right: 9px;

  @include mq("lg") {
    width: 233px;
    top: 41px;
    margin-right: 0;
  }
}





